In [24]:
import pandas as pd

characterList = pd.read_csv("https://raw.githubusercontent.com/matthewfdaniels/scripts/graphs/character_list5.csv", encoding = "ISO-8859-1")
characterList.head()
# character list has all the script for different characters. It includes word count for the script, character gender and age
# characterList.isnull().values.any()
characterList.isnull().sum()

script_id                 0
imdb_character_name       2
words                     0
gender                    0
age                    4785
dtype: int64

In [25]:
meta_data = pd.read_csv("https://raw.githubusercontent.com/matthewfdaniels/scripts/graphs/meta_data7.csv", encoding = "ISO-8859-1")
meta_data.head()
# meta data has title year about the movie and its imdb id, script id
meta_data.isnull().sum()

script_id       0
imdb_id         0
title           0
year            0
gross         338
lines_data      0
dtype: int64

In [38]:
movie_year_and_words = pd.merge(characterList, meta_data, on = 'script_id')
movie_year_and_words.sort_values(by= ['words','year'], ascending=[True, True], inplace = True)
# movie_year_and_words.head()
movie_year_and_words_filtered = movie_year_and_words[['words','year']].copy()
movie_year_and_words_filtered.groupby('year').sum()
# movie_year_and_words_filtered.head()
# It does seems like there are more words in diologues in recent years comparing to 1900s.

       words
year
1929    8572
1931   11601
1932   67534
1933   21125
1934   24646
...      ...
2011  944803
2012  654881
2013  637486
2014  707308
2015  510435

[81 rows x 1 columns]

In [52]:
movie_year_words_gender = pd.merge(characterList, meta_data, on = 'script_id')
# movie_year_and_words.head()
movie_year_words_gender_filtered = movie_year_and_words[['words','year','gender']].copy()
movie_year_words_gender_filtered_grouped =  movie_year_words_gender_filtered.groupby(by=['gender','year'])

In [43]:
movie_gross_and_dialogue = pd.merge(characterList, meta_data, on = 'script_id')
movie_gross_and_dialogue_filtered = movie_gross_and_dialogue[['words','gross']]
movie_gross_and_dialogue_filtered.sort_values(by='words', inplace=True)
# movie_gross_and_dialogue_filtered.head()
movie_gross_and_dialogue_filtered.groupby(by='words').mean()
# It doesn't seem like the gross value has direct relationships with the amount of words in the diologue

/Users/jerry/.virtualenvs/is310-venv/lib/python3.7/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

            gross
words
101    120.309091
102    105.750000
103    149.822581
104    118.182927
105     89.868852
...           ...
19576   84.000000
19892   27.000000
24376   44.000000
26798   84.000000
28102  145.000000

[3720 rows x 1 columns]

In [26]:
characterMapping = pd.read_csv("https://raw.githubusercontent.com/matthewfdaniels/scripts/graphs/character_mapping.csv", encoding = "ISO-8859-1")
characterMapping.head()
# character mapping has maybe maching from script character to imdb character
characterMapping.isnull().sum()

script_id                                  0
imdb_id                                    0
character_from_script                     53
closest_character_name_from_imdb_match    64
closest_imdb_character_id                  0
dtype: int64